<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to BlackJack<h1>
</div>

<div class="d-flex align-items-center justify-content-center">
  <%= button_to "Start", start_path, method: :get %>
</div>